body{
font-family:Arial,sans-serif;
margin:0;
padding:0;
background:#f4f4f4;
}

header{
background:#000;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:white;
text-decoration:none;
margin:10px;
}

.hero{
padding:70px;
text-align:center;
background:#0b5ed7;
color:white;
}

.btn{
background:black;
color:white;
padding:12px 20px;
text-decoration:none;
border-radius:5px;
}

section{
padding:20px;
}

.card{
background:white;
padding:20px;
margin:20px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

footer{
background:black;
color:white;
text-align:center;
padding:15px;
margin-top:30px;
}

a:hover{
opacity:0.8;
}
.statistics,
.cyber-tips,
.resources,
.password-guide,
.scam-alert,
.founder{

padding:50px 30px;

}


.stat-card{

background:white;
padding:25px;
margin:20px;
border-radius:15px;
box-shadow:0 0 15px lightgray;

}


.cyber-tips ul{

line-height:2;

}


.resources ul{

line-height:2;

}


.password-guide ul{

line-height:2;

}


.alert-box{

background:#f5f5f5;
padding:20px;
margin-top:20px;
border-radius:15px;

}


.founder{

text-align:center;

}


.founder p{

font-size:20px;
line-height:1.8;

}
.courses{

padding:60px 30px;

}


.course-card{

background:white;
padding:30px;
margin-top:30px;
border-radius:20px;
box-shadow:0 0 20px lightgray;

}


.course-card h2{

color:blue;

}


.course-card p{

line-height:1.8;

font-size:18px;

}
/* FOUNDER SECTION */

.founder-section{

text-align:center;
padding:40px;
margin-bottom:30px;
border-radius:20px;
box-shadow:0 0 20px lightgray;

}

.founder-section h1{

font-size:45px;

}

.founder-section h2{

font-size:30px;

}

.founder-section h3{

font-size:25px;

margin-top:20px;

}

.founder-section p{

font-size:20px;

line-height:1.8;

}

hr{

margin-top:25px;

}
.newsletter{
    text-align:center;
    padding:50px 20px;
    background:#111;
    color:white;
}

.newsletter input{
    padding:12px;
    width:260px;
    border:none;
    border-radius:8px;
    margin-top:10px;
}

.newsletter button{
    padding:12px 25px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    margin-left:8px;
    font-weight:bold;
}
header{

background:black;
text-align:center;
padding:30px;

}


header h1{

color:white;
font-size:50px;
margin-bottom:10px;

}


.slogan{

color:#00BFFF;
font-size:20px;
letter-spacing:2px;
margin-bottom:20px;

}


nav{

display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;

}


nav a{

color:white;
text-decoration:none;
font-size:18px;
font-weight:bold;
padding-bottom:8px;
transition:0.3s;

}


nav a:hover{

color:#00BFFF;
border-bottom:3px solid #00BFFF;

}


.active{

color:#00BFFF;
border-bottom:3px solid #00BFFF;

}
