body{
font-family:Arial,sans-serif;
margin:0;
padding:0;
background:#f4f4f4;
}

header{
background:#000;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:white;
text-decoration:none;
margin:10px;
}

.hero{
padding:70px;
text-align:center;
background:#0b5ed7;
color:white;
}

.btn{
background:black;
color:white;
padding:12px 20px;
text-decoration:none;
border-radius:5px;
}

section{
padding:20px;
}

.card{
background:white;
padding:20px;
margin:20px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

footer{
background:black;
color:white;
text-align:center;
padding:15px;
margin-top:30px;
}

a:hover{
opacity:0.8;
}
.statistics,
.cyber-tips,
.resources,
.password-guide,
.scam-alert,
.founder{

padding:50px 30px;

}


.stat-card{

background:white;
padding:25px;
margin:20px;
border-radius:15px;
box-shadow:0 0 15px lightgray;

}


.cyber-tips ul{

line-height:2;

}


.resources ul{

line-height:2;

}


.password-guide ul{

line-height:2;

}


.alert-box{

background:#f5f5f5;
padding:20px;
margin-top:20px;
border-radius:15px;

}


.founder{

text-align:center;

}


.founder p{

font-size:20px;
line-height:1.8;

}
